html
{
    background: #69FADA;

}

.container{
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    color: #d42626;
    
}
#list1{
    font-family: cursive;
    color: #d42626;
}