.container{
    font-family: monospace;
    font-size: 18px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #83FF81;
    color: #333;   
}
h1
{
    color: #A33BBF;

}
h3
{
    color: #A33BBF;
}
#parr1
{
    color: #A33BBF;
}