.container{
    font-family: cursive;
    width: 900px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8FD68;
}
h1{
    color: #F29BCB;   

}
h2{
    color: #F29BCB;   

}