html
{
    background: #F8FD68;

}
.container{
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    color: #8E37A6;

}
.container2
{
    color: #333;
}
.list 
{
    color: #333;
}