html
{
    background-color: #071B40;


}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #6AF771;
}